body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vhh;
  margin: 0%;
  background: lightblue;

}
div {
  border: 20px solid transparent;
  border-radius: 50%;
  min-width: 20cm;
  min-height: 25cm;
  display: inline-block;
  position: relative;
}

#red {
  border-top-color: #f00;
}
#orange {
  border-top-color: #ffa500;
}
#yellow {
  border-top-color: #ff0;
}
#green {
  border-top-color: #00bc3f;
}
#blue {
  border-top-color: #06f;
}
#indigo {
  border-top-color: #8a2be2 ;
}
#violet {
  border-top-color: #d300c9;
}